# Bonus: Temperature Analysis I

In [14]:
import pandas as pd
from datetime import datetime as dt

In [15]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [17]:
# Set the date column as the DataFrame index
df = df.set_index('date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [18]:
from scipy import stats

In [19]:
# Filter data for desired months
june_df = df.loc[df.index.month == 6, :]
dec_df = df.loc[df.index.month == 12, :]

In [21]:
# Identify the average temperature for June
june_avg = june_df['tobs'].mean()
round(june_avg, 2)

74.94

In [22]:
# Identify the average temperature for December
dec_avg = dec_df['tobs'].mean()
round(dec_avg, 2)

71.04

In [23]:
# Create collections of temperature data
june = june_df['tobs'].to_list()
dec = dec_df['tobs'].to_list()

In [36]:
# Run paired t-test
tstat, pvalue = stats.ttest_ind(june, dec)
print(f'P Value: {pvalue}\nT Stat: {round(tstat, 4)}')

P Value: 3.9025129038616655e-191
T Stat: 31.6037

### Analysis